<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="trainingName" class="col-sm-2 col-form-label">Selected training</label>
        <div class="col-sm-6">
          <input type="text" style="width: 100%;" class="form-control"
                 id="trainingName" name="trainingName"
                 formControlName="name" [class.is-invalid]="form.controls['name'].errors">
          <div class="invalid-feedback">
            Name is required
          </div>
        </div>
      </div>
      <div class="form-group row" >
        <label for="trainingDate" class="col-sm-2 col-form-label">Selected training</label>
        <div class="col-sm-6">
          <input type="date" class="form-control" style="width:200px;"
                 id="trainingDate" [class.take-placesoon]="training.nextRun | takePlaceSoon"
                 formControlName="nextRun">
        </div>
      </div>
      <div class="form-group row">
        <label for="trainingDesc" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-6">
          <textarea  class="form-control" formControlName="description"
                 id="trainingDesc" rows="3" [class.is-invalid]="form.controls['description'].errors"></textarea>
          <div class="invalid-feedback">
            Description is too short (min. 10 chars)
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="trainingDImg" class="col-sm-2 col-form-label">Image</label>
        <div class="col-sm-6">
          <img id="trainingDImg" [src]="training.imageUrl"/>
        </div>
      </div>
      <div class="form-group row">
        <button type="submit" [disabled]="!form.valid" class="btn btn-light">Save</button>&nbsp;
        <button type="button" (click)="goBack()" class="btn btn-light">Cancel</button>
      </div>
    </form>
  </div>
</div>
