<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-left" style="height: 60px;">
        <img src="./assets/images/trainings/trainings.png"
             style="height: 60px; padding-right: 10px; width: auto; position: relative; display: inline-block; max-height: 100%; line-height: 60px;"></a>
      <a href="/" class="navbar-left" style="height: 60px;">HOME</a>
    </div>
  </div>
</nav>
<br>
  <div class="container">
    <div class="tab-content">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>
            tcc Manager App
          </h1>
        </div>
      </div>
      <br>
      <router-outlet></router-outlet>
    </div>
  </div>
